h1.decoration1{
    color: #ff0000;                     /* 非対応ブラウザ用 */
    background: -webkit-linear-gradient(0deg, #fc2323, #ff7b00, #ff0080); /* 背景色にグラデーション指定 */
    -webkit-background-clip: text;        /* テキストでくり抜く */
    -webkit-text-fill-color: transparent; /* くり抜いた部分は背景を表示 */
}
h1.decoration2{
    color: #ff0000
}
h1.decoration3{   /* time.htmlで使用 */
    color: #e9554a
}
h3.decoration4{   /* menu.htmlの＜主なメニュー＞で使用 */
    color: #0004ff;                     /* 非対応ブラウザ用 */
    background: -webkit-linear-gradient(0deg, #2723fc, #09ff00, #8c00ff); /* 背景色にグラデーション指定 */
    -webkit-background-clip: text;        /* テキストでくり抜く */
    -webkit-text-fill-color: transparent; /* くり抜いた部分は背景を表示 */
}
h2.decoration5{
    color: #ff0000
}
h2.decoration6{   /* サブメニューで使用 */
    color: #fc511d
}
h2.decoration7{   /* サブメニューで使用 */
    color: #d40d0d
}
h2.decoration8{   /* サブメニューで使用 */
    color: #0d339c
}

h3.decoration9{   /* time.htmlで使用 */
    color: #e94d42
}